@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F9F5ed;
}

nav {
    padding: 20px;
    height: 15vh;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 5%;
    font-weight: 600;
}

nav ul li img {
    width: 100px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}