
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  height: 100vh;
}

.parent-box{
  position: relative;
  display: flex;
  margin: auto;
  width: 20%;
}

img[alt="image"]{
  margin: auto;
  width: 100%;
  position: absolute;
}
