

body{
  display: flex;
  height: 100vh;
}

#btn{
  display: flex;
  margin: auto;
  padding: 2vh 2vw;
  border-radius: 10px;
  background: green;
  color: white;
  cursor: pointer;
  font-size: 19px;
  font-weight: 600;
}