* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    max-width: 1440px;
    background-color: #f0f4f5;
    overflow: hidden;
    margin: auto;
}

/* Nav Bar */
nav {
    display: flex;
    align-items: center;
    height: 15vh;
    justify-content: space-between;
    padding: 0 5%;
}

nav img {
    width: 150px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav ul li a {
    color: black;
    font-weight: 600;
}

.home {
    color: #20bc7e;
    font-weight: 700;
}

/* Main Section */
main {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 350px;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form h1 {
    text-align: center;
}

form div {
    display: flex;
    flex-direction: column;
}

form div label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

form div input {
    border: transparent;
    border-radius: 10px;
    padding: 5px 10px;
}

form div textarea {
    resize: none;
    height: 100px;
    border: transparent;
    border-radius: 10px;
    padding: 5px 10px;
}

form button {
    border: transparent;
    border-radius: 10px;
    background-color: #20bc7e;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}

