*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#progressContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #bb9191;
  }
  
  #progress-bar {
    height: 100%;
    background-color: #1946a8;
    width: 0%;
    transition: width 0.2s ease-in-out;
  }
  
  .box{
    display: grid;
    border: 1px solid black;
    grid-template-rows: repeat(5,100px);
    margin-top: 20px;
  }