* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0f0f10;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    margin: 0 15vw;
}

/* Nav Bar */
nav {
    display: flex;
    width: 100%;
    margin: 30px 0;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 25px;
    height: 25px;
}

nav div {
    display: flex;
    gap: 40px;
}


nav ul {
    display: flex;
    justify-content: center;
    gap: 40px;
}

nav ul li a {
    font-size: 14px;
    font-weight: 700;
}

.nav-right-section {
    align-items: center;
}

.nav-button {
    padding: 10px 40px;
    background-color: #1e1e21;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 300px;
    border-color: #ffffff;
}

/* Main Hero section */
main {
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
    position: relative;
}

.mainImg {
    width: 230px;
    position: relative;
    top: -250px;
    left: 70px;
}

.main {
    margin-left: 180px;
}

.onEarImg {
    margin-left: 50px;
    width: 320px;
}

.main h1 {
    font-size: 46px;
    font-weight: 600;
    margin-bottom: 25px;
}

.main h4 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 25px;
}

.main p {
    font-size: 12px;
    font-weight: 300;
    width: 65%;
    color: #bdc0c2;
    line-height: 25px;
    margin-bottom: 25px;
}

.shopping-bag-section {
    display: flex;
    align-items: center;
    gap: 20px;
    background: #1e1e21;
    width: fit-content;
    padding: 10px 25px;
    border-radius: 8px;
}

.shopping-bag-section img {
    width: 15px;
    background-color: transparent;
}

.shopping-bag-section p {
    margin-bottom: 0;
    color: white;
    background-color: transparent;
}

.shopping-bag-section span {
    background-color: transparent;
}

/* Company Section */
.social-media-section {
    display: flex;
    align-items: center;
    padding: 0 50px;
    justify-content: space-around;
    position: relative;
    top: -50px;
    margin-bottom: 40px;
}

/* specification Section */
.specification {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.specification-logo, .case-logo {
    scale: 0.8;
    margin-bottom: 20px;
}

.specification-list {
    display: flex;
}

.specification-list img {
    scale: 0.8;
}

.specification-list-items div {
    margin-bottom: 20px;
}

.specification-list-items div img {
    scale: 0.8;
}

.specification-list-items div p {
    font-size: 12px;
}

.specification-list-items div p:last-child {
    color: #bdc0c2;
    font-size: 10px;
    margin-top: 5px;
    width: 70%;
}

.specification-list-items div:first-child, .specification-list-items div:last-child {
    margin-left: 30px;
}

/* Case Section */
.case {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.case-item {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
}

.case-item-img {
    scale: 0.8;
}

.case-item div {
    width: 20%;
}

.case-item div p {
    margin-bottom: 20px;
    
}

.case-item div p:first-child {
    color: #bdc0c2;
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 20px;
}

.case-item div p:last-child {
    background: #1e1e21;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 12px;
}

.group-img {
    background: transparent;
    scale: 0.8;
}

/* Buy Now Section */
.buy-product {
    display: flex;
    background: #181a1b;
    border-radius: 12px;
    align-items: center;
    gap: 50px;
    margin-top: 70px;
    padding: 40px 0;
    justify-content: center;
}

.buy-product div, 
.buy-product p,
.buy-product h3,
.buy-product img {
    background-color: transparent;
}

.buy-div-1 {
    width: 25%;
}

.buy-div-1 h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

.buy-product div p {
    color: #bdc0c2;
    font-size: 14px;
    margin-bottom: 15px;
}

.buy-product div div {
    display: flex;
    align-items: center;
    width: fit-content;
    background: #000000;
    padding: 10px 20px;
    border-radius: 8px;
}

.buy-product div div img {
    scale: 0.8;
    margin-right: 10px;
}

.buy-product div div p {
    margin-bottom: 0;
    font-size: 12px;
    color: white;
}

/* Product Section */
.product {
    display: flex;
    flex-direction: column;
}

.product-logo {
    display: flex;
    flex-direction: column;
    scale: 0.3;
}

.product-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding-left: 50px;
    
}

.product-card {
    position: relative;
    width: 130px;
    height: 130px;
    background: #181a1b;
    border-radius: 8px;
}

.product-img {
    width: 75px;
    height: 100px;
    position: absolute;
    z-index: 100;
    top: -40px;
    left: 28px;
}

.product-img,
.product-card p,
.product-card span,
.product-card img,
.product-card div {
  background-color: transparent;
}

.product-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px 15px;
}

.product-info p {
    font-size: 12px;
}

.product-info p span {
    color: #bdc0c2;
}

.product-info div {
    background: #0a0a0b;
    padding: 2px 6px;
    border-radius: 8px;
}

.product-info div img {
    width: 13px;
    height: 13px;
}